#include "{{pascalcase(name)}}.h"

namespace crayg {

std::string {{pascalcase(name)}}::getType() const {
    return "{{pascalcase(name)}}";
}

ShadingNodeOutputType {{pascalcase(name)}}::getOutputType() {
    return ShadingNodeOutputType:://todo;
}
} 