#include "scene/io/read/usd/shadingnetworks/caches/UsdShadingNodeReadCache.h"
#include "scene/io/read/usd/shadingnetworks/shadingnodes/Usd{{pascalcase(name)}}Reader.h"
#include <catch2/catch.hpp>
#include <pxr/usd/usd/stage.h>
#include <pxr/usd/usdShade/shader.h>


namespace crayg {

TEST_CASE("TestUsd{{pascalcase(name)}}Reader::read") {
    auto stage = pxr::UsdStage::CreateInMemory();
    UsdShadingNodeReadCache usdShadingNodeReadCache;

    SECTION("should read correctly") {
        auto usdPrim = pxr::UsdShadeShader::Define(stage, pxr::SdfPath("/Usd{{pascalcase(name)}}"));
        usdPrim.CreateIdAttr(pxr::VtValue(pxr::TfToken("crayg:{{pascalcase(name)}}")));
        Usd{{pascalcase(name)}}Reader usd{{pascalcase(name)}}Reader(usdPrim, usdShadingNodeReadCache);

        auto {{lowerPascalcase(name)}} = usd{{pascalcase(name)}}Reader.read();
    }
}

}